.mainContainer
  background-color: #3ea9f5
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 40px
  height: 100vh

  .loginContainer
    background-color: #3ea9f5
    min-width: 300px
    width: 1200px
    display: flex
    flex-direction: column

    .loginFormContainer
      display: flex
      align-items: center
      justify-content: center
      margin-top: 80px


    .headerSignUpPage
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-top: 26px
      padding-left: 45px
      padding-right: 100px
      @media (max-width: 530px)
        padding-right: 45px

    .linkLoginContainer
      border: 1px solid white
      width: 80px
      border-radius: 4px
      display: flex
      justify-content: center
      align-items: center
      font-size: 18px
      font-weight: bold
      height: 40px
      text-decoration: none

      span
        color: white